
<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h1>How Amy Klobuchar fared in Trump country</h1>
    <p class="byline">By Matt DeLong and Chase Davis • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg elex-main">

    <section class="leadin">
      <p>After cruising to a third term in the 2018 midterm elections earlier this month, DFL U.S. Sen. Amy Klobuchar is receiving a lot of attention from national media and political prognosticators as a potential presidential candidate in 2020.</p>

      <p>Much of the buzz stems from her performance in parts of Minnesota where other Democrats running for statewide office struggled. Here is a look at how Klobuchar outperformed Gov.-elect Tim Walz and U.S. Sen. Tina Smith in precincts won by President Donald Trump in 2016.</p>
    </section>

    <section id="scroll">
      <div class="scroll__text">
        <div class="step" data-step="1" data-scrollama-index="0">
          <p>Klobuchar's national profile has risen in part on her ability to win votes in <strong>Republican-leaning areas</strong> of Minnesota.</p>
        </div>

        <div class="step" data-step="2" data-scrollama-index="1">
          <p>Consider that about 3,000 of Minnesota's 4,120 election precincts <strong>voted for Donald Trump</strong> in 2016.</p>
          <p class="subtext">Red areas represent precincts won by Donald Trump in 2016. Precincts that voted for Hillary Clinton are not highlighted.</p>
        </div>

        <div class="step" data-step="3" data-scrollama-index="2">
          <p>This year <strong>Klobuchar won about 1,250 of those</strong> — including many in the Twin Cities suburbs, along with conservative areas in rural Minnesota and exurban enclaves like St. Cloud.</p>
          <p class="subtext">Blue areas represent precincts won by Trump in 2016 and Klobuchar in 2018.</p>
        </div>

        <div class="step" data-step="4" data-scrollama-index="3">
          <p>By contrast, DFL <strong>Gov.-elect Tim Walz</strong> won fewer than 500 Trump precincts — including swaths of the Iron Range and southern Minnesota, which he represented in Congress.</p> 
          <p class="subtext">Blue areas represent precincts won by Trump in 2016 and Walz in 2018.</p>
        </div>

        <div class="step" data-step="5" data-scrollama-index="4">
          <p>And <strong>Sen. Tina Smith</strong>, the state's junior DFL senator, won many of the same Trump precincts Walz did.</p>
          <p class="subtext">Blue areas represent precincts won by Trump in 2016 and Smith in 2018.</p>
        </div>

        <div class="step" data-step="6" data-scrollama-index="5">
          <p>In many areas, voters <strong>split their tickets</strong>, supporting Klobuchar while also voting for Smith's and Walz's Republican opponents.</p>
          <p class="subtext">Blue areas represent Trump precincts won by Klobuchar but not Smith or Walz.</p>
        </div>

        <div class="step" data-step="7" data-scrollama-index="6">
          <p>Although she faced a little known Republican opponent, Klobuchar's 24-point victory this year shows a broad base of <strong>urban, suburban and rural support</strong> Democrats will hope to tap in 2020.</p>
          <p class="subtext">Blue areas represent precincts that voted for Klobuchar in 2018. Red areas voted for her Republican opponent, state Rep. Jim Newberger. Purple areas were tied. Gray areas had no data.</p>
        </div>
      </div>

      <div class="scroll__graphic sticky">
        <div id="ios-spacer"></div>
        <div id="map-container">
          <svg id="precinct-map" viewBox="0 120 640 760" preserveAspectRatio="xMidYMin meet"></svg>
        </div>
      </div>

    </section>

    <section class="credits">
      <p>Source: Election results from the Minnesota Secretary of State; precinct data from Minnesota Geospatial Commons. Maps do not include comparison data for a <a href="https://www.sos.state.mn.us/election-administration-campaigns/data-maps/voting-precincts/">small number of precincts</a> that changed between 2016 and 2018.</p>
    </section>

  </div>

</div>