
<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h1>Lorem lorem headline Lorem lorem headline Lorem lorem</h1>
    <p class="byline">By Lorem Ipsum • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg elex-main">

    <section class="leadin">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
    </section>

    <section id="scroll">
      <div class="scroll__text">
        <div class="step" data-step="1" data-scrollama-index="0">
          <p>Klobuchar's national profile has risen in part on her ability to win votes in Republican-leaning areas of Minnesota.</p>
        </div>

        <div class="step" data-step="2" data-scrollama-index="1">
          <p>Consider that about 3,000 of Minnesota's 4,120 election precincts <strong>voted for Donald Trump</strong> in 2016.</p>
          <p class="subtext">Red areas represent precincts that voted for Donald Trump in 2016. Areas that voted for Hillary Clinton are not highlighted.</p>
        </div>

        <div class="step" data-step="3" data-scrollama-index="2">
          <p>This year, <strong>Klobuchar won about 1,250 of those</strong> — including traditionally conservative areas in rural Minnesota and exurban Republican enclaves like St. Cloud.</p>
        </div>

        <div class="step" data-step="4" data-scrollama-index="3">
          <p>By contrast, Democratic <strong>Governor-elect Tim Walz</strong> won fewer than 500 Trump precincts — including swaths of the Iron Range and southern Minnesota, where he served as a congressman for 12 years.</p> 
        </div>

        <div class="step" data-step="5" data-scrollama-index="4">
          <p>And with few exceptions, <strong>Sen. Tina Smith</strong>, Klobuchar's Democratic colleague in the Senate, won many of the same Trump precincts Walz did.</p>
        </div>

        <div class="step" data-step="6" data-scrollama-index="5">
          <p>In many areas, voters even <strong>split their tickets</strong>, supporting Klobuchar while also voting for Smith's and Walz's Republican opponents.</p>
        </div>

        <div class="step" data-step="7" data-scrollama-index="6">
          <p>Although she faced a relatively unknown and poorly financed opponent, Klobuchar's 24-point victory this year shows a broad base of <strong>urban, suburban and rural support</strong> that Democrats are hoping to tap into in 2020.</p>
          <p class="subtext">Blue areas represent precincts that voted for Klobuchar in 2020. Red areas voted for her Republican opponent, Jim Newberger.</p>
        </div>
      </div>

      <div class="scroll__graphic sticky">
        <div id="map-container">
          <svg id="precinct-map" viewBox="0 120 640 760" preserveAspectRatio="xMinYMin meet"></svg>
        </div>
      </div>

    </section>

    <section class="credits">
      <p>Source: Election results from the Minnesota Secretary of State; precinct data from Minnesota Geospatial Commons. Maps do not include comparison data for a <a href="https://www.sos.state.mn.us/election-administration-campaigns/data-maps/voting-precincts/">small number of precincts</a> that changed between 2016 and 2018.</p>
    </section>

  </div>

</div>


<script>
  // Dependencies and components
  import ScrollyGraphic from "../app/scroller.js";

  // Svelte logic
  export default {
    oncreate() {
      var s = new ScrollyGraphic();
      s.init();
    }
  };
</script>
